<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adolescência</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="adol.css">
</head>

<body>
    <h1>Minha Adolescência</h1>
    <h2>Basicamente, eu nos últimos anos.</h2>
    <br>
    <h3>Para mim, minha adolescência começou quando entrei no IFRN.</h3>
    <br>
    <h4>IFRN - Campus Natal Central</h4>
    <img src="minera.jpg">
    <img src="jerns.jpg">
    <p class="est1">
        Entrar no IFRN mudou completamente a minha vida. Fiz minha inscrição para o Curso Técnico Integrado em Mineração na intenção de, no futuro, fazer alguma engenharia relacionada a área, mas descobri depois que não me identificava com os assuntos. Mesmo
        assim, consegui fazer grandes amigos lá dentro, os quais sei que 2 deles posso levar para a vida toda junto com alguns da minha infância. Além das amizades, passei por várias experiências lá dentro que me ajudaram a construir um pouco de quem
        sou hoje, no relacionamento e trabalhos desenvolvidos com professores e alunos, participando de coletivos, disputando o JERNS pela equipe do instituto, ou desenvolvendo artigos pelos laboratórios que fiz parte, dentre eles o LTM.
    </p>
    <br clear="left">
    <h4>Laboratório de Tecnologia Mineral - LTM</h4>
    <img src="IMG-20200609-WA0209.jpg">
    <img src="trab.jpg">
    <p class="est1"> Foi nesse laboratório que eu descobri que amava pesquisa, e foi lá onde passei por uma das minhas maiores dificuldades, no dia 10/06/2019 o nosso professor orientador faleceu, mas com a cooperação e amizade entre os alunos do laboratório nós conseguimos
        passar por isso, terminar nossos artigos e honrar o nosso professor apresentando os trabalhos em congressos pelo Brasil. Com isso, minha equipe publicou 2 artigos em eventos nacionais.</p>
    </div>
    <h4>Eu no 1 ano vs Eu no 3 ano</h4>
    <img src="eufeio.jpg">
    <img src="eumenosfeio.jpg">
    <p class="est1">Essas imagens aqui mostram basicamente a minha mudança por fora durante 3 anos de IF. Foi quando decidi tomar vergonha na cara e entrar para uma academia para ver se parava de quebrar um osso diferente a cada 3 meses.</p>
    </div>
    </div>
    <br clear="left">
    <h4>Como sou conhecido pela minha turma</h4>
    <img src="ticoliro.jpg">
    <img src="eu apartando briga.jpg">
    <p class="est1">Na minha sala eu tenho 2 apelidos, Pedrinho e Tico Liro. Pedrinho é normal, diminutivo de Pedro e etc, todo mundo já sabe. Tico Liro foi basicamente porque disseram que eu parecia com ele quando era do primeiro/segundo ano e acabou pegando. Nunca
        me incomodei com apelidos/brincadeiras, acho engraçado e entro na onda com a galera, inclusive essa imagem foi de uma festa surpresa que minha sala (com influência da minha mãe, beijo mãe, te amo) fez uma festa surpresa para mim e desenharam o
        "Tico Liro" bombado como se fosse eu.<br> Além disso, eles costumam dizer que sou uma pessoa muito calma/pacífica. Para exemplificar isso, trouxe uma imagem minha do dia que tive que evitar uma briga que minha colega de classe ia começar, durante
        os jogos internos.</p>
    <br clear left>
    <p class="est2">
        Esse foi o resumo dos meus últimos anos, selecione agora para onde você quer ir:
        <br> Vá para a<a href="/"> Página Inicial</a>.
        <br> Descubra
        <a href="/quemsoueu">Quem sou eu</a>.
        <br> Dê uma olhada na minha <a href="/infancia">Infância</a>.
        <br> Pule para as <a href="/curiosidades">Curiosidades sobre mim</a>.
        <br> Ou, vá embora: <a href="https://www.netflix.com/browse">Aproveita pra assistir Dark, sério</a>
    </p>
    </div>
</body>