<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curiosidades!</title>
    <link rel="stylesheet" href="curiosidades.css">
</head>

<body>
    <h1>Curiosidades</h1>
    <h2>Parabéns, você acaba de chegar na melhor parte de todas.</h2>
    <h3>Carnaval, Álcool com políticos, Block de Ministro e outras coisas aleatórias da minha vida você encontra agora:</h3>
    <h4>CARNAVRAU</h4>
    <img src="carnavrau.jpg"> <img src="carnavrau2.jpg">
    <p class="est1">Eu amo o carnaval, acho que isso aqui resume um pouco esse tópico. Se divertir com os amigos, dançar, cantar, show do Monobloco, Alceu Valença, fantasias e etc, precisa de mais alguma coisa? Eu acho que não.</p>
    <h4>Eu já tomei cachaça com a governadora do meu estado</h4>
    <img src="cachaçacomfatinha.jpg">
    <p class="est1">O título é autoexplicativo. Um dia eu estava em um restaurante, chamaram a galera para fazer um brinde, deram um copinho de cachaça para cada, ela fez um discurso e foi isso. (Eu nunca falei que as curiosidades seriam úteis)</p>
    <h4>Sou bloqueado no insta do ex-ministro da educação, com orgulho</h4>
    <img src="blockdovaientraub.jpg">
    <p class="est1">Um dia, o MEC decidiu nomear um reitor pró-tempore para o IFRN mesmo que o instituto já tivesse um reitor eleito. Nos dias do ocorrido, eu enchi tanto o saco dele nos comentários das fotos no Instagram que fui bloqueado. Eu levo isso como uma medalha,
        a meta é ser bloqueado por ele no twitter e conseguir o block do Bolsonaro.</p>
    <h4>
        Meu apelido já foi Xuxa
    </h4>
    <img src="santos sao paulo.jpg"><img src="santos sao paulo2.jpg">
    <p class="est1">Mais um apelido pra conta. No 9 ano do fundamental, eu e alguns amigos tivemos a brilhante ideia de descolorir o cabelo como uma forma de deixar algo registrado para o ano em que íamos nos separar. Com isso, toda a equipe do Santos passou a me chamar
        de Xuxa e, consequentemente, alguns amigos meus também.</p>
    <h4>Eu amo ler</h4>
    <img src="Lendo.jpg">
    <p class="est1">Já li várias coleções de livro como: Percy Jackson, Harry Potter, O Diário de um Banana, Rangers, Como Treinar o Seu Dragão e Maze Runner. Alguns autores em específico que já li/leio: Machado de Assis, Lima Barreto, Clarice Lispector, Miguel Nicolelis,
        Joaquim Manoel de Macedo, Ariano Suassuna e etc (venho tentando dar mais valor para a autores brasileiros).</p>
    <p class="est2">
        Essas foram as curiosidades sobre mim :), selecione agora para onde você quer ir:
        <br> Vá para a<a href="/"> Página Inicial</a>.
        <br> Descubra
        <a href="/quemsoueu">Quem sou eu</a>.
        <br> Dê uma olhada na minha <a href="/infancia">Infância</a>.
        <br> Dê uma olhada na minha <a href="/adolescencia">Adolescência</a>.
        <br> Ou, vá embora: <a href="https://www.netflix.com/browse">Você já viu DARK?</a>
    </p>
</body>