<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Inf.css">
    <title>Infância</title>
</head>

<body>
    <h1>Minha Infância</h1>
    <h3>Aqui você encontra um pouco do que eu tive na minha infância junto com umas fotos minhas bebê, aproveite.</h3>
    <h4>Um bebê gordo e uma criança feliz</h4>
    <img src="eubebegordo.jpeg"> <img src="euetheo.jpg">
    <p class="est1">Mesmo morando em Natal, boa parte das minhas memórias de infância são do interior em que meus avós maternos moram (Jardim do Seridó/RN) que fica umas 3 horas de carro de onde eu moro. Por lá as crianças brincavam na rua -andando de bicicleta, jogando
        bola, indo em lan house, subindo em árvore e etc- o que era bem mais divertido do que ficar com meus amigos na capital. Na foto da esquerda, estou eu, pequeno e ainda gordinho, em um aniversário na casa dos meus avós. Na direita, é uma foto minha,
        já um pouco maior, durante uma viagem de carro para Jardim, ao lado do meu falecido Theo.</p>
    <h4>
        Como eu era?
    </h4>
    <img src="desdepequenoeuquebrado.jpeg"><img src="esqueleto.jpeg">
    <p class="est1">Sempre fui uma criança muito ativa e curiosa, gostava muito de praticar esportes, correr, escalar coisas aleatórias e muitas vezes acabava em lugares que não deveria estar. Aliado a isso eu era a criança mais magra que eu conhecia, logo, acabava por
        quebrar alguma parte do meu corpo durante algum tipo de atividade. Passei por episódios desse tipo de quando era bem pequeno até os 14 anos. Pra exemplificar isso, a primeira imagem mostra uma das primeiras vezes que passei por algo do tipo, a
        segunda mostra mais ou menos o quão magro eu era
    </p>
    <h4>
        Meus Passatempos
    </h4>
    <img src="eu na robótica.jpg"><img src="euabc.jpg">
    <p class="est1">Tive oportunidade de fazer parte de uma turma de robótica durante algum tempo, nessa turma fiz parte de uma equipe que disputou 2 vezes a FLL - First Lego League. Além disso, sempre amei jogar bola, aqui em Natal, ia assistir jogos no Frasqueirão,
        estádio do ABC, time que eu torço aqui na cidade. Ainda no futebol, joguei por algumas escolinhas daqui, entre elas o Santos, com o qual disputei um campeanato em São Paulo aos 13 anos.<br> Do lado esquerdo, as imagens são da época em que fiz
        robótica, inclusive podemos me ver fantasiado de Noturno dos X-Men durante uma das edições da FLL. Do lado direito, a primeira imagem foi retirada do <a href="https://abcfc.com.br/torcida/pequeno-alvinegro/">site do ABC</a>, e foi tirada por eles
        mesmos durante uma das partidas. Embaixo dela, estou segurando a taça que ganhamos durante o campeonato de São Paulo.
    </p>
    <br clear left><br clear left>
    <img src="santos sao paulo.jpg"><img src="noturnokkkkkkkkkkk.jpg">
    <p class="est2">
        Esse foi o resumo do que passei na minha infância, selecione agora para onde você quer ir:
        <br> Vá para a<a href="/"> Página Inicial</a>.
        <br> Descubra
        <a href="/quemsoueu">Quem sou eu</a>.
        <br> Dê uma olhada na minha <a href="/adolescencia">Adolescência</a>.
        <br> Pule para as <a href="/curiosidades">Curiosidades sobre mim</a>.
        <br> Ou, vá embora: <a href="https://www.netflix.com/browse">Clique aqui e se prepare pra última temporada da melhor série de todos os tempos, ela mesma, DARK</a>.
    </p>
</body>