<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EU!</title>
    <link rel="stylesheet" type="text/css" href="QSE.css">
</head>

<body>
    <h1>
        Um breve resumo sobre mim
    </h1>
    <br clear left>
    <h4>
        Meu nome é Pedro Henrique Medeiros Câmara, tenho 18 anos, torço pelo Flamengo e amo aprender coisas novas. Sou um garoto muito curioso que em 2019 descobriu o amor pela pesquisa e agora procuro construir minha jornada dentro da ciência e da tecnologia.
        Fã do trabalho de Miguel Nicolelis, cientista brasileiro que me despertou a vontade de conhecer mais sobre a área de Neurociência, mais especificamente a parte de Interface Cérebro-Máquina.
    </h4>
    <h4>
        Posso dizer que adoro fazer novas amizades e ter novas experiências, por isso adoro viajar e pretendo um dia conhecer vários lugares ao redor do mundo, começando pelo meu próprio país. Sempre procuro contribuir de alguma forma pelos lugares que passo
        e com as pessoas que convivo, acredito que dessa forma podemos impactar positivamente o mundo ao nosso redor. Falando nisso, levanto politicamente minhas bandeiras para lutar contra as injustiças e desigualdades que tenho conhecimento.
    </h4>
    <h4>
        Gosto de aprender sobre várias coisas: Universo, Biologia, Matemátia, Filosofia, Física, História, Programação, Neurociências e etc, conhecer mais sobre coisas que me interessam me da prazer e é algo que sempre me faz perder a noção do tempo. Dentro dos
        meus aprendizados sempre encontro desafios, os quais levo muito à sério e não descanso enquanto não superá-los. Além disso, adoro praticar esportes, de Futebol à Stand Up Paddle, tudo que envolve me manter ativo me faz bem.
    </h4>
    <div align="center">
        <img src="WhatsApp Image 2020-06-23 at 21.15.46.jpeg">
    </div>
    <p class="est2">Veja mais informações sobre mim: <a href="/"> Página Inicial -</a><a href="/infancia">Infância -</a><a href="/adolescencia">Adolescência -</a><a href="/curiosidades">Curiosidades</a></p>
</body>

</html>